@model IEnumerable<Common.GameState>

@{
    ViewBag.Title = "GameList";
}

@{
    <ul>
        @foreach(Common.GameState gamestate in Model) {
            <li>
                @Html.ActionLink(@gamestate.GameStateNotation, "ShowGame", new { gameId = @gamestate.GameId })

            </li>   
        }
    </ul>
}

<h2>GameList</h2>
